.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.post-content {
  max-width: 400px;
  white-space: nowrap;
}


.post-thumb {
  flex: 0 0 30%;
}

.post-thumb img {
  border-radius: 20%;
  display: block;
  width: auto;
  height: auto;
  max-width: 250px;
}

.post-thumb li {
list-style-type: none;
display: inline-block;
margin-right: 6.5%;
padding-top: 0.0%;
text-align: center;
font-size: 300%;
}

/* Media Query for smaller screens */
/* @media only screen and (max-width: 768px) {
  .post-thumb {
    flex: 0 0 100%;
  }

  .post-thumb li {
    font-size: 1.5em;
  }
} */

/* Body section from now on */

    body {
      font-family: "Lora", serif;
      line-height: 160%;
      background-color: #f0f5f9; /* Light Violet */
      color: #333; /* Dark Gray */
    }

    main {
      max-width: 85%;
      margin: 0 auto;
      padding-top: 5%;
    }

    section {
      margin-top: 5%;
      margin-bottom: 2%;
      padding: 0;
    }

    section h2 {
      color: #0076d6; 
      border-bottom: 0.1em solid #0076d6; 
      padding-bottom: 1%;
    }

    footer {
      background-color: #f0f5f9;
      color: #333;
      text-align: center;
      margin-top: 2%; 
    }

    /* Styles for the Publications Section */

    .publications-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .publications-list a {
      color: #0076d6;
      text-decoration: none;
    }

    /* .publications-list a:hover {
      text-decoration: underline;
    } */